.sceleton-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sceleton {
  width: 250px;
  height: 350px;
  padding-bottom: 20px;
  background: #ffffff;
  margin: 30px;
  box-shadow: 3px 3px 10px 0 #ccc;
  position: relative;
  overflow: hidden;
}

.sceleton::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    #e8e8e8 50%,
    transparent 100%
  );

  content: '';
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 150px;
  animation: load 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}
