.header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 33px auto;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.menu .menu__item,
.items-wrapper .items-wrapper__item {
  margin: 10px 10px 0 10px;
  text-decoration: none;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3d3d3d;
}

.items-wrapper {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 270px;
}

.items-wrapper {
  min-width: 225px;
}

.menu__item:hover {
  border-bottom: 3px solid #46a358;
  font-weight: bold;
}

.menu__item:focus {
  border-bottom: 3px solid #46a358;
  font-weight: bold;
}

.button__item {
  text-decoration: none;
  color: #ffffff;
}
